@import "tailwindcss";

@theme {
  --font-outfit: Outfit, sans-serif;
  --text-h1-lg: 60px;
  --text-h2-lg: 36px;
  --text-big-lg: 18px;

  --text-h3-lg: 24px;
  --text-body: 12px;

  --text-h1-md: 48px;
  --text-h2-md: 32px;
  --text-big-md: 14px;

  --text-h1-sm: 24px;
  --text-h2-sm: 20px;
  --text-h3-sm: 16px;
  --text-big-sm: 12px;
  --text-body-sm: 10px;

  /* Light Color */
  --color-bg-light: #eaefd3;
  --color-body-light: #4f4f4f;
  /* Dark Color */
  --color-bg-dark: #1a1f16;
  --color-body-dark: #e5e5e5;
  --color-primary-dark: #131710;
  /* General */
  --color-primary-accent: #f4b400;
  --color-secondary-accent: #2c5f2d;
}

@custom-variant dark (&:where(.dark, .dark *));
